/* Base styles for index.html */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Roboto, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #222;
    line-height: 1.6;
}
